*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height:75vh;
    background-color: rgb(220, 246, 247);
    margin-left: 2rem;
}
#carsTable{
background-color: rgb(193, 231, 246);
margin: 1rem;
border: solid 2px rgb(85, 57, 57);
}
table th {

    padding: 1rem;
    border: 2px;
}